/* INPUT */
.Anatomy-input {
  display: none;
}

/* GRAPH */
.Anatomy-graph {
  overflow: hidden;
  width: 100%;
  border: 1px solid #ccc;
}

.Anatomy-graph .node rect {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;
}

.Anatomy-graph .edgeLabel rect {
  fill: #fff;
}

.Anatomy-graph .edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}
